<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
       <!-- <p id="notice"><%= notice %></p>-->
        <% @favorites.each do |favorite| %>
          <!-- Post preview-->
            <div class="post-preview">
                <%= link_to post_path(favorite.post) do %>
                  <h2 class="post-title"><%= favorite.post.content %></h2>
                  
                  <%= image_tag(favorite.post.image.url) if favorite.post.image && favorite.post.image.url %>
                <% end %>
                <%= link_to 'Unsubscribe from favorites', favorite_path(id: favorite.id), method: :delete, class: 'btn btn-warning' %>
            </div>
            <!-- Divider-->
            <hr class="my-4" />
          <% end %>
        </div>
    </div>
</div>