<header class="nav-header bg-gray-800 fixed w-full z-10 top-0" data-controller="header">
  <div class="mx-1px px-2 sm:px-4 lg:divide-y lg:divide-gray-700 lg:px-8">
    <div class="relative h-16 flex justify-between nav-container">
      <div class="relative z-10 px-2 flex lg:px-0">
        <div class="flex-shrink-0 flex items-center">
          <%= link_to root_path, class: "logo-link" do %>
            <%= image_tag("logo-YelbApp.png", width: 150) %>
          <% end %>
          
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <% if partner_signed_in? | admin_signed_in? %>
                <%= link_to "New property", new_property_path, class: "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <% elsif user_signed_in?%>
                <%= link_to 'Favorites', favorites_path, class: "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <% else %>
                <%= link_to "Guest User Login",users_guest_sign_in_path, method: :post, class:"text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"%>
              <% end %>
            </div>
          </div>

        </div>
      </div>
      <%= form_with url: home_index_path, class:'input-group rounded mt-5 mb-5', method: :get, local: true do |form| %>
      <div class="relative z-0 flex-1 px-2 flex items-center justify-center sm:absolute sm:inset-0">
          <div class="w-full sm:max-w-xs">
              <label for="search" class="sr-only">Search</label>
              <div class="relative">
              <div class="pointer-events-none absolute inset-y-0 left-0 pl-3 flex items-center">
                  <!-- Heroicon name: solid/search -->
                  <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                  <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                  </svg>
              </div>
              <%= form.text_field :name, class:'block w-full border border-transparent rounded-md py-2 pl-10 pr-3 text-sm placeholder-gray-400 focus:outline-none focus:bg-white focus:border-white focus:ring-white focus:text-gray-900 focus:placeholder-gray-500 sm:text-sm hover:bg-gray-200', placeholder: 'Search ...' %>
              <button type="submit" class="text-white absolute right-2.5 bottom-0.5 bg-gray-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-1.5 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
              </div>
          </div>
      </div>
      <% end %>
      <div class="relative z-10 flex items-center lg:hidden">
        <!-- Mobile menu button -->
        <button type="button" class="rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:bg-gray-700 hover:text-white focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
          <span class="sr-only">Open menu</span>
          <!--
            Icon when menu is closed.

            Heroicon name: outline/menu

            Menu open: "hidden", Menu closed: "block"
          -->
          <svg class="block h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h16M4 18h16" />
          </svg>
          <!--
            Icon when menu is open.

            Heroicon name: outline/x

            Menu open: "block", Menu closed: "hidden"
          -->
          <svg class="hidden h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
      <div class="hidden lg:relative lg:z-10 lg:ml-4 lg:flex lg:items-center">

        <div class="hidden sm:block sm:ml-6">
          <div class="flex space-x-4">
            <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
            <% if admin_signed_in? %>
              <%= link_to 'Administration', root_path, class: "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
            <% end %>
          </div>
        </div>
        <% if user_signed_in? | partner_signed_in? | admin_signed_in?%>
          <button type="button" class="hover:bg-gray-200 flex-shrink-0 rounded-full p-1 text-gray-400 hover:text-white focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-800 focus:ring-white">
            <span class="sr-only">View notifications</span>
            <!-- Heroicon name: outline/bell -->
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9" />
            </svg>
          </button>

          <!-- Profile dropdown -->
          <div class="flex-shrink-0 relative ml-4">
            <% if user_signed_in?%>
              <%= link_to current_user, class: "logo-link" do %>
                <%= image_tag("user-avatar.png", width: 40) %>
              <% end %>
            <% end %>
          </div>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
                <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
            </div>
          </div>
        <% else %>
          <div class="hidden sm:block sm:ml-6">
            <div class="flex space-x-4">
              <!-- Current: "bg-gray-900 text-white", Default: "text-gray-300 hover:bg-gray-700 hover:text-white" -->
              <%= link_to 'Login', new_user_session_path, class:"bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <%= link_to 'Sign up', new_user_registration_path, class:"bg-gray-900 text-white px-3 py-2 rounded-md text-sm font-medium" %>
              <%= link_to "Guest Partner Login",partners_guest_partner_sign_in_path, method: :post, class:"text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"%>
              <%= link_to "Guest Admin Login",admins_guest_admin_sign_in_path, method: :post, class:"text-gray-300 hover:bg-gray-700 hover:text-white px-3 py-2 rounded-md text-sm font-medium"%>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  </div>
</header>
