<!DOCTYPE html>
<html>
  <head>
    <title>YelbApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  </br>
  </br>
  </br>
    <%= render "layouts/header" %>
    <div class="flex flex-col justify-center text-center">
    <% if notice %>
        <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="py-2 px-3 bg-red-50 mb-5 text-red-500 font-medium rounded-lg inline-block"><%= alert %></p>
      <% end %> 
    </div>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
